body {
    background-image: url(images/kodamik.png);
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: top right;
    padding: 3%;
}

h1 {
    width: 50%;
    margin: auto;
    text-shadow: 1px 1px 4px gray;
    text-align: center;
}

hr {
    width: 50%;
    height: 4px;
    background-color: black;
    border-radius: 5px;
    margin-top: 25px;
}

p {
    width: 50%;
    padding: 13px;
    margin: 23px auto auto;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}

form {
    width: 50%; 
    margin: 30px auto auto;
    background-color: #50327e;
    opacity: 0.65;
    border-radius: 13px;
    padding: 30px;
    box-sizing: border-box;
} 

.action {
    text-align: center;
}

.sign-in, .sign-up {
    color: black;
    text-decoration: none;
    padding: 1%;
}

.active {
    color: white;
    border-bottom: 2px solid orange;
}

.sign-in:hover, .sign-up:hover {
    color: #e1e;
}

.fields p {
    color: #bbb;
    font-size: 15px;
}

.fields input {
    width: 90%;
    margin-left: 5%;
    padding: 10px 5px;
    border-radius: 15px;
    border: none;
    background-color: #60428e;
    color: orange;
    text-align: center;
    opacity: 0.9;
    box-sizing: border-box;
}

.wrapper {
    text-align: center;
}

.wrapper p {
    display: inline;
    padding: 5px;
}

.wrapper input {
    width: auto;
}

.aboutChild {
    width: 90%;
    margin-left: 5%;
    padding: 10px 5px;
    border-radius: 15px;
    background-color: #60428e;
    text-align: center;
    opacity: 0.9;
    border: none;
}